<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>首页</title>
    </head>
    <body>
        <!--显示静态文本-->
        Hello <span>慕课网</span>
        <br/>
        <!--显示动态变量-->
        Hello <span>Jack</span>
        <br/><br/>

        <!--创建一个 input 输入框-->
        <input value = "Jack">
        <br/><br/>

        <!--判断字符串是否为空-->
        <span>false</span>
        <br/>
        <!--判断字符串是否包含指定的字符-->
        <span>true</span>
        <br/>
        <!--打印参数字符串的长度-->
        <span>4</span>
        <br/>
        <!--判断字符串以什么开头-->
        <span>true</span>
        <br/>
        <!--判断字符串以什么结尾-->
        <span>true</span>
        <br/><br/>

        <!--打印birthday-->
        默认展示时间日期：<span>Tue Nov 18 00:45:55 CST 2025</span>
        <br/>
        默认格式化日期：<span>2025年11月18日 上午12时45分55秒</span>
        <br/>
        指定格式化日期：<span>2025-11-18 12:45:055</span>
        <br/><br/>

        <!--判断sex-->
        <span>
            <span>
               未知
            </span>
        </span>
        <br/><br/>

        <!--打印myList-->
        <span>
            输出：<span>Java</span><br/>
            count:<span>1</span><br/>
            index:<span>0</span><br/>
            size:<span>5</span><br/>
            first:<span>true</span><br/>
            last:<span>false</span><br/>
            <!--odd：当前元素是否在奇数位置（第1、3、5...个）-->
            odd:<span>true</span><br/>
            <!--even：当前元素是否在偶数位置（第2、4、6...个）-->
            even:<span>false</span><br/>
        </span><span>
            输出：<span>HTML</span><br/>
            count:<span>2</span><br/>
            index:<span>1</span><br/>
            size:<span>5</span><br/>
            first:<span>false</span><br/>
            last:<span>false</span><br/>
            <!--odd：当前元素是否在奇数位置（第1、3、5...个）-->
            odd:<span>false</span><br/>
            <!--even：当前元素是否在偶数位置（第2、4、6...个）-->
            even:<span>true</span><br/>
        </span><span>
            输出：<span>大数据</span><br/>
            count:<span>3</span><br/>
            index:<span>2</span><br/>
            size:<span>5</span><br/>
            first:<span>false</span><br/>
            last:<span>false</span><br/>
            <!--odd：当前元素是否在奇数位置（第1、3、5...个）-->
            odd:<span>true</span><br/>
            <!--even：当前元素是否在偶数位置（第2、4、6...个）-->
            even:<span>false</span><br/>
        </span><span>
            输出：<span>SpringBoot</span><br/>
            count:<span>4</span><br/>
            index:<span>3</span><br/>
            size:<span>5</span><br/>
            first:<span>false</span><br/>
            last:<span>false</span><br/>
            <!--odd：当前元素是否在奇数位置（第1、3、5...个）-->
            odd:<span>false</span><br/>
            <!--even：当前元素是否在偶数位置（第2、4、6...个）-->
            even:<span>true</span><br/>
        </span><span>
            输出：<span>微服务</span><br/>
            count:<span>5</span><br/>
            index:<span>4</span><br/>
            size:<span>5</span><br/>
            first:<span>false</span><br/>
            last:<span>true</span><br/>
            <!--odd：当前元素是否在奇数位置（第1、3、5...个）-->
            odd:<span>true</span><br/>
            <!--even：当前元素是否在偶数位置（第2、4、6...个）-->
            even:<span>false</span><br/>
        </span>
        <br/>

        <!--打印 myMap-->
        <span>
            <span>sex=男</span>
            <br/>
            <span>sex</span>
            <span>男</span>
            <br/>
        </span><span>
            <span>loves=[Java, HTML, 大数据, SpringBoot, 微服务]</span>
            <br/>
            <span>loves</span>
            <span>[Java, HTML, 大数据, SpringBoot, 微服务]</span>
            <br/>
        </span><span>
            <span>name=Jack</span>
            <br/>
            <span>name</span>
            <span>Jack</span>
            <br/>
        </span><span>
            <span>id=10010</span>
            <br/>
            <span>id</span>
            <span>10010</span>
            <br/>
        </span>
        <br/>

        <!--打印englishName和userToken-->
<!--        <span th:text="${#request.getAttribute('englishName')}"></span>-->
<!--        <br/>-->
<!--        <span th:text="${#session.getAttribute('userToken')}"></span>-->
    </body>
</html>